$main: #f0d8bb;
$white: #ffffff;
$black: rgb(32, 2, 2);

* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-CondensedBold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 900;
}

body {
  padding: 0;
  margin: 0;
  background-color: $main;
  color: $black;
  &:before {
    animation: grain 8s steps(10) infinite;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
  }
  &.no-scroll {
    overflow-y: hidden;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

//Header

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  width: auto;
  height: 100%;
  padding-top: -100px;
  &.fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  // 1024px 960pxpx

  .row {
    display: flex;
    align-items: center;
    &.space-between {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }
}
.menu {
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid $black;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $white;
    background: sienna;
  }
}
.container {
  .row {
    height: 128px;
    .logo {
      a {
        color: $black;
        text-decoration: none;
      }
    }
    header {
      font-size: 16px;
      position: fixed;
      z-index: 99;
      width: 100%;
      font-weight: "700";
    }
  }
}
.menu p {
  font-size: 16px;
  font-weight: "700";
  color: $black;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 50px;
}
.menu a {
  //  margin-top: 50px;
  color: $black;
  text-decoration: none;
}
// .engbutton a {

//   color: black;
// }          .frame {
.firstpagecont {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
}

.image-container {
  display: flex;
  align-items: center;
  // border: gold solid 5px;
  height: 700px;
  .thumbnail {
    overflow: hidden;
    position: relative;
  }
}

main {
  .container {
    position: relative;
    .row {
      height: 590px;
      align-items: center;
    }
  }
}
.homeimgtext {
  z-index: 1000;
  margin-bottom: -1000px;
  color: gold;
  opacity: 0.5;
  position: absolute;
  left: 1vw;
  top: 1vw;
}
@media screen and (max-width: 480px) {
  .homeimgtext {
    left: 9.5vw;
  }
}
.frame-single {
  img {
    width: 100vw;
    
     margin-top: calc(700px - 40vw);
     margin-left: 0px;
    // margin-right: 120vw;
    filter: contrast(100%);
    // calc(700px - 150vw) ;
  }
}
// .frame-single {
// }
.information {
  font-size: 26px;
  width: 52vw;
  display: flex;
  align-items: top;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -180px;
  text-transform: uppercase;
  top: 50px;
  .location {
    span:nth-child(1) {
      // margin-left: 10px;
      justify-content: space-between;
      font-size: 26px;
    }
  }
}

//single
.single {
  .container {
    .top-row {
      height: 50vh;
      width: 100%;
      align-items: flex-end;
      .top {
        padding-bottom: 70px;
        .details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 25px;
          .location {
            span:nth-child(2) {
              margin-left: 16px;
            }
          }
          .mua {
            text-transform: uppercase;
            font-size: 26px;
            justify-content: space-between;
          }
          .social__gh{
            font-size: 26px;
            text-decoration: none;
            color: $black;
          }
          .social__link{
            font-size: 26px;
            text-decoration: none;
            color: $black;
          }
        }
        .model {
          overflow: hidden;
          .first {
            margin-right: 5vw;
          }
          span {
            display: inline-block;
            position: relative;
            font-weight: 400;
            font-size: 16vw;
            font-family: "Maragsa";
          }
        }
      }
    }
    .bottom-row {
      height: 50vh;
      position: relative;
      .bottom {
        height: 100%;
        width: 100%;
      }

      .scroll-for-more {
        position: absolute;
        top: 200px;
        left: 100px;
        z-index: 20;
       
        
        .icon {
          svg {
            height: auto;
            width: 28px;
          }
        }
        .text {
          margin-top: 8px;
          color:white ;
          text-transform: uppercase;
        }
      }
    }
  }
}
.works__1{
  // margin-top: 
  // calc(150px - 1vw);
  bottom: calc(-160px - 50vw );
  position: absolute;
  left: 46vw;
  text-align: center;

  
}
.works__text{
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 100;
  width:45vw;
  overflow: hidden;
  font-size: calc(7px + 0.5vw);
  line-height: 4vw;
}
.cont_deets{
  text-decoration: none;
  color: $black;
}

.detailed-information {
  background-size: 100px 2em;
  margin-top: 200px;
  height: 600px;
  position: relative;
  margin-top: 0px;
  // margin-right: 190px;
  .container {
    .row {
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 100px;
      margin: 100px;

      .title h1 {
        font-size: 48px;
        margin-left: 700px;
        // justify-content: 15px;
        align-items: center;
        position: relative;
      }
      .title {
        font-size: 48px;
        margin-left: 700px;
        // justify-content: 15px;
        align-items: center;
        position: relative;
      }
      p {
        font-family: "Helvetica Neue";
        font-size: 16;
        line-height: 28px;
        font-weight: 400;
        width: 800px;
        margin-right: 380px;
        margin-top: 100px;
        
      }
    }
  }
}

.detailed-information-social {
  margin-top: 200px;
  height: 600px;
  position: relative;
  margin-top: -350px;
  .container {
    .row {
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 28px;
      }
      p {
        font-family: "Helvetica Neue";
        font-size: 16;
        line-height: 28px;
        font-weight: 400;
        width: 800px;
        
      }
    }
  }
}

.contact-title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 400px;
}
.contact-description {
 
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Helvetica Neue";
  font-size: 16;
  line-height: 28px;
  font-weight: 400;
  width: 800px;
  margin-left: 150px;
  text-align: left;
}

.mail-me {
  margin-bottom: 25px;
  margin-right: 135px;
  color: #212121;
  text-decoration: none;
}

.mail-me a {
  color: #212121;
  text-decoration: none;
}
.thumbnail-single {
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
}

.ending{
  margin-bottom: 15px;
}



